* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

body {
    grid-template-areas: "nav"
        "header"
        "main"
        "article"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 9fr 5fr 7fr;
    gap: 0px;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    font-family: 'DM Sans', sans-serif;
}

header {
    grid-area: header;
    background: rgba(0, 0, 0, 0.5) url(Materiales/manos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}


nav {
    grid-area: nav;
    background-color: white;
}

article {
    grid-area: article;
    background-color: rgb(82, 152, 255)
    
}

main {
    grid-area: main;
    background-color: rgb(82, 152, 255);
}

footer {
    grid-area: footer;
    background-color: rgb(82, 39, 204);
    color: white;

}
@media (min-width:1365px) {
    * {
        font-size: 1.2rem;
    }
        body {
            grid-template-areas:
                "nav"
                "header"
                "main"
                "article"
                "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr 9fr 5fr 7fr;
            gap: 0px;
            max-width: 100vw;
            display: grid;
            font-family: 'DM Sans', sans-serif;
        }
    
        nav {
            display: grid;
            grid-template-columns: 2fr 5fr 2fr;
            grid-template-rows: 1fr;
            justify-items:center;
            align-items: center;
        }
        .espaciadonav{
            justify-content: space-around;
        }
        header{
            height: 60vh;
        }
        main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50% 50%;
            justify-items: center;
            align-items: center;
        }
        .maintop{
            display: grid;
            grid-template-areas: 
            "foto1 texto1"
            "texto2 foto2";
            height: 100%;
            width: 100%;
        }
        .foto1{
            grid-area: foto1;

        }
        .foto2{
            grid-area: foto2;
        }
        .texto1{
            grid-area: texto1;
            color: white;
        }
        .texto2 {
            grid-area: texto2;
            color: white;
        }
        .texto3{
            grid-area: texto3;
            color: white;
        }
        article {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr;
            justify-items: center;
            align-items: center;
        }
    
    
        .topnav {
            background-color: rgb(255, 255, 255);
            /*overflow: hidden;*/
        }
    
        /* Style the links inside the navigation bar */
        .topnav a {
            color: #000000;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
            margin-right:250px;
            
        }
    
        /* Change the color of links on hover */
        
        .hovernav :hover{
            background-color: rgb(119, 73, 248);
            color: white;
            font-family: sans-serif;
            border-radius: 5px;
            padding: 15px;
            height: 150px;
        }
    
        .boton {
            border-radius: 15px;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgb(82, 39, 204);
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
    
        }
    
        .img_logo {
            width: 15vh;
            height: 1fr;
        }
    
        .centrado_p {
            text-align: center;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            font-size: 0.5rem;
            margin-top: 10px;
            color: white;
            text-decoration: none;
        }
    
        .centrado_p_header {
            text-align: center;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            font-size: 2.0rem;
            margin: 100px;
            color: white;
            text-decoration: none;
        }
    
        .centrado_p_negro {
            text-align: center;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            font-size: 1.5rem;
            color: rgb(0, 0, 0);
            margin: 5vh 15vh 5vh 15vh ;
        }
    
        .centrado_h1 {
            text-align: center;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            font-size: 4.0rem;
            margin-top: 8vh;
            color: white;
        }
    
        .centrado_h2 {
            text-align: center;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            font-size: 3.0rem;
            margin-top: 5vh;
            margin-bottom: 15px;
            color: rgb(20, 20, 20);
        }
    
        .h2_main {
    
            text-align: center;
            justify-content: center;
            justify-items: center;
            align-items: center;
            font-size: 3.0rem;
            margin-bottom: 15px;
            color: white;
    
    
        }
    
        .white_p {
            color: white;
            text-align: center;
            justify-content: center;
            justify-items: center;
            align-items: center;
            font-size: 25px;
            color: white;
            margin-right: 50px;
            margin-left: 50px;
    
        }
    
        .img_main {
            width: 600px;
            height: 300px;
            object-fit: cover;
        }
    
    
        .div_padre {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "op_text op_text op_text op_text"
                                 "button_one button_two button_three button_four";
            background: rgb(244, 244, 244);
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            gap: 10px;
            width: 100%;
            height: 100%;
        }

        .op_text{
            grid-area: op_text;
            padding: 5% 10% 5% 10%;
        }

        .button_one{
            grid-area: button_one;
        }
        .button_two{
            grid-area: button_two;
        }
        .button_three{
            grid-area: button_three;
        }
        .button_four{
            grid-area: button_four
        }
    
        .imgnot {
            display: grid;
            border-radius: 7px;
            color: white;
            align-items: center;
            margin: 60px 70px;
            height: 175px;
        }
    
        .date {
            display: grid;
            grid-template-columns: 10% 65% 10% 15%;
            grid-template-rows: 1fr;
            align-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .categoria {
            position: relative;
            top: 80%;
            left: 5%;
            color: white;
            background-color: rgb(82, 39, 204);
            border-radius: 5px;
            width: 35px;
            height: 10px;
            font-size: 0.4rem;
            padding: 2px;
    
        }
    
        .btnop {
            display: grid;
            grid-template-areas:
                "icono mas"
                "texto texto";
            /*grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;*/
            border-radius: 7px;
            color: white;
            align-items: center;
            margin: 0px 0px 150px 0px;
            height: 250px;
            width: 80%;
            border-radius: 30px;
        }
    
        
    
        .img_btn {
            grid-area: icono;
            max-width: 100px;
            max-height: 100px;
            margin-left: 20%;
            margin-top: 20%;
        }
    
        .img_btn_plus {
            grid-area: mas;
            width: 30px;
            height: 30px;
            margin-left: 15%;
            margin-bottom: 10%;
        }
    
        .fondo_rojo {
            background: rgb(220, 53, 69);
            grid-area: button_one;
            margin-left: 45%;
        }
    
        .fondo_amarillo {
            background: rgb(255, 156, 7);
            grid-area: button_two;
            margin-left: 15%;
        }
    
        .fondo_verde {
            background: rgb(40, 167, 69);
            grid-area: button_three;
            margin-right: 15%;
        }
    
        .fondo_celeste {
            background: rgb(23, 162, 184);
            grid-area: button_four;
            margin-right: 45%;
        }
    
        .p_botones {
            grid-area: texto;
            margin-left: 30px;
            font-size: 1.8rem;
    
        }
    
        .pnoticias {
            font-size: 0.6rem;
        }
    
        .noraya {
            text-decoration: none;
            color: white;
        }
    
        .txtfooter {
            color: white;
            margin-top: 150px;
    
        }
    
        .centerimg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            width: 50%;
        }
    
        .space {
            margin: 10px;
        }
    
        .marginbt {
            margin-bottom: 50px;
            padding: 0px;
        }
    
        .redes {
            display: flex;
            justify-content: center;
            width: 60px;
            height: 60px;

        }
    
        .imgcarr {
            max-width: 100%;
            max-height: 20vh;
        }
    
        
    
        .news {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "new_one new_two new_three new_four";
            background-color: rgb(82, 152, 255);
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            gap: 10px;
            width: 78%;
            height: 60%;
        }

        .new_one, .new_two, .new_three, .new_four{
            height: 500px;

        }

        .new_one{
            grid-area: new_one;
            background-color: white;
            border-radius: 5px;
        }

        .new_two{
            grid-area: new_two;
            background-color: white;
            border-radius: 5px;
        }

        .new_three{
            grid-area: new_three;
            background-color: white;
            border-radius: 5px;
        }

        .new_four{
            grid-area: new_four;
            background-color: white;
            border-radius: 5px;
        }

        .title_news{
            grid-area: title_news;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        .news_img {
            width: 100%;
            height: fit-content;
            border-radius: 5px;
            display: inline-block;
            position: relative;
        }
    
        .news_text {
            margin: 30px 20px 30px 20px;
            font-size: 0.7rem;
        }
    
        .news_title {
            font-size: 0.8rem;
            font-weight: bold;
        }

        .news_description {
            margin-top: 20%;
        }

        .see_more{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            margin-right: 20px;
        }

        .more{
            font-size: 0.5rem;
            color: rgb(196, 195, 195);
            text-decoration: none;
        }

        #fondoperros {
            background-image: url(Materiales/perros-noticia.jpg);
            background-size: cover;
            border-radius: 5px;
            height: 200px;
        }

        #fondo_directv_techo {
            background-image: url(Materiales/directv-techo.jpg);
            background-size: cover;
            height: 200px;
            border-radius: 5px;
        }

        #fondo_voluntariado {
            background-image: url(Materiales/jornada-voluntarios.jpg);
            background-size: cover;
            height: 200px;
            border-radius: 5px;
        }
 
        #fondo_tu_techo {
            background-image: url(Materiales/tu-techo.jpg);
            background-size: cover;
            height: 200px;
            border-radius: 5px;
        }

        .contacto {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10% 90%;
            background-color: rgb(244, 244, 244);
            justify-items: center;
            align-items: center;
            margin: 0;
        }
    
        form {
            margin: 0 10% 0 10%;
            font-size: 10px;
            justify-items: center;
            align-items: center;
        }
    
        input,
        input::placeholder {
            font-size: 17px;
        }
    
        textarea,
        textarea::placeholder {
            font-size: 17px;
        }
    
        input {
            border-radius: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
    
        textarea {
            height: 150px;
            width: 100%;
            border-radius: 10px;
        }

        .posizq{
            text-align: center;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            font-size: 2.0rem;
            color: rgb(0, 0, 0);
            margin: 5vh 15vh 3vh 0vh;
    
            }

        .imgchica{
            width: 20%;
        }

        .txtfooter {
            color: white;
            margin-top: 150px;
    
        }
        .contacto {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            background-color: rgb(244, 244, 244);
            justify-items: center;
            align-items: center;
            margin: 0;
        }
        .formularios{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 6fr 1/2fr;
        }
        .formseparados{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 30px;
        }
        .marginbottom0{
            margin-bottom: 0px;
        }
        .martop10{
            margin-top: 10%;
        }
        .marleft50{
            margin-left: 50%;
        }
        .imgmedia{
            width: 500px;
            height: 350px;
        }
    
}

@media (min-width:389px) and (max-width:844px) {
    /*TAMAÑNO MAXIMO DE PANTALLA 844px */
    .new_two{
        display: none;
    }

    .new_three{
        display: none;
    }

    .new_four{
        display: none;
    }

    .see_more{
        display: none;
    }

    .imgmedia{
        display: none;
    }

    * {
        font-size: 1.2rem;
    }
    body {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "article"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 9fr 5fr 7fr;
        gap: 0px;
        max-width: 100vw;
        display: grid;
        font-family: 'DM Sans', sans-serif;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;

    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;

    }
    article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        justify-items: center;
        align-items: center;
    }


    .topnav {
        background-color: rgb(255, 255, 255);
       
    }

    
    .topnav a {
        color: #000000;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }

    .boton {
        border-radius: 15px;
        border-color: rgba(0, 0, 0, 0);
        background-color: rgb(82, 39, 204);
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;

    }

    .img_logo {
        width: 15vh;
        height: 1fr;
    }

    .centrado_p {
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        font-size: 0.5rem;
        margin-top: 10px;
        color: white;
        text-decoration: none;
    }
    .centrado_p_header {
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        font-size: 0.9rem;
        margin: 0px 25px 15px 25px;
        color: white;
        text-decoration: none;
    }

    .centrado_p_negro {
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        margin: 0px 25px 0px 25px;
    }

    .centrado_h1 {
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        font-size: 1.0rem;
        margin-top: 15px;
        color: white;
    }

    .centrado_h2 {
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        font-size: 1.2rem;
        margin-top: 15px;
        margin-bottom: 15px;
        color: rgb(20, 20, 20);
    }

    .h2_main {

        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 15px;
        margin-top: 0;
        color: white;


    }

    .white_p {
        color: white;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-size: 0.9rem;
        margin-top: 15px;
        color: white;
        margin: 0px 25px 0px 25px;


    }

    .img_main {
        width: 290px;
        height: 150px;
        object-fit: cover;
        margin-left: 0px;
    }



    .div_padre {
        background: rgb(244, 244, 244);
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 100%;
    }
    .imgnot {
        display: grid;
        border-radius: 7px;
        color: white;
        align-items: center;
        margin: 60px 70px;
        height: 175px;
    }
    
    #fondoperros{
        background-image: url(/proyecto/Materiales/perros-noticia.jpg);
        background-size: cover;
        width: 250px;
        height: 150px;
        border-radius: 5px;
    }
    .categoria {
        position: relative;
        top:80%;
        left:5%;
        color: white;
        background-color: rgb(82, 39, 204);
        border-radius: 5px;
        width: 35px;
        height: 10px;
        font-size: 0.4rem;
        padding: 2px;
        
    }

    .btnop {
        display: grid;
        grid-template-areas:
            "icono mas"
            "texto texto";
        border-radius: 7px;
        color: white;
        align-items: center;
        margin: 60px 70px;
        height: 175px;
    }

    .img_btn {
        grid-area: icono;
        max-width: 60px;
        max-height: 60px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .img_btn_plus {
        grid-area: mas;
        width: 20px;
        height: 20px;
        margin-left: 110px;
        margin-bottom: 10%;
    }

    .fondo_rojo {
        background: rgb(220, 53, 69)
    }

    .fondo_amarillo {
        background: rgb(255, 156, 7)
    }

    .fondo_verde {
        background: rgb(40, 167, 69)
    }

    .fondo_celeste {
        background: rgb(23, 162, 184)
    }

    .p_botones {
        grid-area: texto;
        margin-left: 30px;
        font-size: 1.2rem;

    }

    .date{
        display: grid;
        grid-template-columns: 10% 65% 10% 15%;
        grid-template-rows: 1fr;
        align-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
    .pnoticias{
        font-size: 0.6rem;
    }

    .noraya {
        text-decoration: none;
        color: white;
    }

    .txtfooter {
        color: white;
        margin-top: 150px;

    }

    .centerimg {
        display: block;
        margin-left: 13%;
        margin-right: 10%;
        margin-bottom: 0;
        margin-top: 25px;
        width: 50%;
    }

    .space {
        margin: 10px;
    }
    .marginbt{
        margin-bottom:50px;
        padding: 0px;
    }

    .redes {
        display: flex;
        justify-content: center;
        max-width: 60px;
        max-height: 60px;

    }
    .imgcarr {
        max-width: 100%;
        max-height: 20vh;
    }


    .contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 80% 10%;
        background-color: rgb(244, 244, 244);
        justify-items: center;
        align-items: center;
        margin: 0;
    }

    form {
        margin: 0 10% 0 10%;
        font-size: 10px;
        justify-items: center;
        align-items: center;
    }

    input,
    input::placeholder {
        font-size: 17px;
    }

    textarea,
    textarea::placeholder {
        font-size: 17px;
    }

    input {
        border-radius: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    textarea {
        height: 150px;
        width: 100%;
        border-radius: 10px;
    }
    
    .news {
        display: grid;
        margin: 25px 70px;
        background-color: white;
        border-radius: 5px;
    }

    .news_img {
        width: 100%;
        height: fit-content;
        border-radius: 5px;
        display: inline-block;
        position: relative;
    }

    .news_text {
        font-size: 10px;
    }

    .news_title {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .imgchica{
        width: 50%;
    }

    .marleft50{
        margin-left: 40%;
        margin-bottom: 3%;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        color: black;
    }

    .maintop{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 85%;
        width: 100%;
    }

    .texto1, .texto2{
        margin-top: 0;
    }
    a{
        text-decoration: none;
    }
    p{
        text-decoration: none;
    }
    
   
}